
header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(146, 103, 39);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

header a{
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}
